<div ng-controller="MessagesCtrl" ng-cloak>

<%= link_to "logout", logout_path, method: :delete %>

<h3>Messages</h3>

<div ng-repeat="entry in messages">
  <md-list-item class="md-2-line">
    <ng-md-icon icon="sentiment_satisfied" class="md-avatar" style="fill: blue"></ng-md-icon>

    <div class="md-list-item-text">
      <h3>{{entry.username}}</h3>
      <p>{{entry.message}}</p>
    </div>
  </md-list-item>
</div>

<div id="user">{{username}}</div>
  <md-input-container class="md-block">
    <label>Message</label>

    <textarea ng-model="message" md-maxlength="120" rows="3" md-select-on-focus=""></textarea>
  </md-input-container>

  <md-button class="md-raised md-primary" id="message-button" ng-click="sendMessage()">
    send
    <ng-md-icon icon="send" style="fill: white"></ng-md-icon>
  </md-button>
</div>