.home-page-container {
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  background-color: $v-color-base;

  .welcome-container {
    padding: 12px;
    background-color: $v-color-base;

    h1 {
      color: $v-color-text-secondary;
      text-align: center;
      margin: 0;
      font-weight: 400;
    }
  }

  .image-container {
    background-image: image-url('icescream.png');
    background-size: cover;
    height: 240px;
    background-position: 50% 50%;
  }

  .form-container {
    form {
      label {
        color: $v-color-text-secondary;
      }

      input {
        color: $v-color-text-primary;
      }

      button {
        width: 100%;
        margin: 0;
        background-color: $v-color-accent;
      }
    }
  }
}
